body {
  /*font-family: 'Nunito', sans-serif;*/
  /*font-family: 'Arvo', serif;*/
  font-family: 'Roboto'
}

div {
  border: 1px solid red
}

.transparent-background {
  background: transparent !important;
}

.md-button {
  border-radius: 0px;
  min-width: 22px;
  padding: 0px;
  margin: 0px;
  line-height: 18px;
  min-height: 18px;
}

.bordered-button {
  border: 3px solid black;
}
