<div class="aboutWrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 profilePic">
      <img class=" image-responsive img-circle" src="assets/profilePic.jpg" alt="profile image">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 aboutText">
      <h3>Hey there! I'm Patrick</h3>
      <p>I make things with Javascript.</p>
      <p>Some things I'm into:</p>
      <ul>
        <li>ReactJS</li>
        <li>Mongoose, Express, AngularJS, Node</li>
        <li>Techno music</li>
        <li>Japanese</li>
      </ul>
      <p>Check out some of my <a ng-class="{animated: isHovering, bounceIn: isHovering}" ng-mouseenter="isHovering = true" ng-mouseleave="isHovering = false" ui-sref="portfolio">projects</a> and connect with me on social media!</p>
    </div>
  </div>
</div>
