<div class="blogWrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <div class="col-xs-12" ng-repeat="post in posts">
          <blog-post info={{post}}></blog-post>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div ng-class="{blogNavArea: loaded}">
        <h1>Previous Posts: </h1>
        <div class="row">
          <div class="col-xs-12" ng-repeat="post in posts">
            <a ng-click="goToPost(post.id)">{{post.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
