<div class="aboutWrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 profilePic">
      <img class=" image-responsive img-rounded" src="assets/profile-bw.jpg" alt="profile image">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 aboutText">
      <h1>Patrick Shaughnessy</h1>
      <h3>Full Stack Javascript Developer</h3>
      <p>Some things I'm into:</p>
      <ul>
        <li>ReactJS, GraphQL, Relay</li>
        <li>Mongoose, Express, AngularJS, Node</li>
        <li>All the music</li>
        <li>Japanese</li>
      </ul>
      <p>Check out some of my projects below and connect with me on social media!</p>
    </div>
  </div>
</div>
<hr>
<div class="portfolioWrapper" ng-controller="portfolioCtrl">
  <div class="row">
    <h1 class="text-center sectionTitle">Projects</h1>
    <div ng-repeat="project in projects track by $index">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
        <project-card info={{project}} index={{$index}}></project-card>
      </div>
      <div ng-if="$index === 0" class="clearfix visible-xs-block"></div>
      <div ng-if="$index === 1" class="clearfix visible-sm-block"></div>
      <div ng-if="$index === 2" class="clearfix visible-md-block"></div>
    </div>
  </div>
</div>
<hr>
<div class="blogArea" ng-controller="blogCtrl">
  <div class="row">
    <h1 class="text-center sectionTitle">Blog</h1>
    <div class="col-xs-12">
      <div ng-repeat="post in posts">
        <h2>{{post.title}}</h2>
        <div class="blogPostBody">
          <div ng-bind-html="getSnippet(post)"></div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
